* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}

.top-menu__box {
    padding: 0;
    border: none;
    background: none;
    height: 60px;
}

.top-menu__box:hover {
    background-color: orange;
    cursor: pointer;
}

.top-menu {
    background-color: rgb(255, 227, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    height: 100px;
}

.top-menu__logo {
    width: 70px;
    height: 70px;
}

.options-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 700px;
    justify-content: space-between;
    margin-right: 100px;
}
.top-menu__box--orange-border {
    border: 5px solid orange;
    border-radius: 30%;
    padding: 25px;
}
